@model Ingredient

@{
	ViewBag.Title = "Ingredient Search";
	Layout = "_Layout";
}

<br />
<div class="row" >
	<div class="col-md-9"><h2>Ingredient Search</h2></div>
	<div id="edamam-badge" class="col-md-3" data-color="white"></div>
</div>

<hr>

<h3> You searched for : @Model.Name</h3>
<input type="hidden" value="@Model.Name" id="ingName"  />

<br />
<div id="veganStatus"></div>
